.listas{
    display: none;
}
@media screen and (min-width: 992px) {
    .listas{
        /* height:fit-content; */
        align-items: center;
        align-self: flex-start;
        display: block;
        display: grid;
        gap: 1rem;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        padding: 1rem;
        width: 16rem;
    }
}