.listas{
    display: none;
}
@media screen and (min-width: 1440px) {
    .listas{
        display: block;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        grid-template-rows: auto auto;
        padding: 1rem;
        align-items: center;
        height:fit-content;
        width: 16rem;
    }
}