.cabecalho{
    align-items: center;
    background-color: #15191C;
    box-shadow: 0px 4px 4px 0px #00000029;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

@media screen and (min-width: 992px) {
    .cabecalho{
        background-color: #1D232A;
        box-sizing: border-box;
        display: grid;
        gap: 2rem;
        grid-column: 2;
        grid-row: 1;
        grid-template-columns:  repeat(3, auto);
        height: 5rem;
        justify-content: flex-end;
        padding: 1.5rem 3.625rem;
    }
}