@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

html{
    color: #FFFFFF;
    font-family: 'Open Sans', 'icones', sans-serif;
    font-size: 16px;
}

body {
    background-color: #1D232A;
}

@media screen and (min-width: 992px) {
    body{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
    }
}