.menu-lateral__link{
    color: #95999C;
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0rem 0rem 0rem 4rem;
}
.menu-lateral__link:hover{
    background-color: #222425;
    border-radius: 0rem 2rem 2rem 0rem;
}

.menu-lateral__link--ativo{
    color: #FFFFFF;
    border-left: 0.5rem solid #FFFFFF;
    padding: 0rem 0rem 0rem 3.5rem;
}
.menu-lateral__link--camisas::before,
.menu-lateral__link--inicio::before,
.menu-lateral__link--integrantes::before,
.menu-lateral__link--picos::before,
.menu-lateral__link--pinturas::before,
.menu-lateral__link--videos::before{
    font-size: 1.5rem;
    height: 1.5rem;
    left: 1.5rem;
    position: absolute;
    width: 1.5rem;
}
.menu-lateral__link--inicio::before{
    content: '\e902';
}

.menu-lateral__link--videos::before{
    content: "\e90e";
}
.menu-lateral__link--picos::before{
    content: "\e909";
}
.menu-lateral__link--integrantes::before{
    content: "\e903";
}
.menu-lateral__link--camisas::before{
    content: "\e900";
}
.menu-lateral__link--pinturas::before{
    content: "\e90a";
}