.menu-lateral{
    background-color: #15191C;
    border-radius: 0rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    left: -100vw;
    position: absolute;
    transition: left 0.25s;
    width: 75vw;
}
.menu-lateral--ativo{
    left: 0vw;
    transition: left 0.25s;
}

@media screen and (min-width: 1440px) {
    .menu-lateral{
        grid-column: 1;
        grid-row: 1 / span 2;
        left: 0vw;
        position: static;
        width: 12.75rem;
    }
}