.menu-lateral{
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
    background-color: #15191C;
    position: absolute;
    left: -100vw;
    transition: left 0.25s;
}
.menu-lateral--ativo{
    left: 0vw;
    transition: left 0.25s;
}

@media screen and (min-width: 1440px) {
    .menu-lateral{
        position: static;
        left: 0vw;
        width: 12.75rem;
        grid-row: 1 / span 2;
        grid-column: 1;
    }
}