.main{
    display: grid;
    gap: 1rem;
    padding: 1.5rem 1rem;
}
@media screen and (min-width: 992px) {
    .main {
        display: grid;
        gap: 1.5rem;
        grid-column: 2;
        grid-row: 2;
        grid-template-columns: auto 1fr auto;
        grid-template-rows:repeat(5,auto);
        padding: 1.875rem 3.625rem;
    }
}